{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h3 class="m-0">Historico de lotes</h3>
        </div>

        <div class="card-body mt-3">
            <form method="get" class="row g-2 align-items-center mb-3">

                <!-- Selector de orden -->
                <div class="col-md-4">
                    <select class="form-select form-select-sm" name="sort" id="ordenar" onchange="this.form.submit()">
                        <option value="" disabled selected>Ordenar por...</option>
                        <option value="fecha" {% if current_sort == 'fecha' %}selected{% endif %}>Fecha</option>
                        <option value="plato" {% if current_sort == 'plato' %}selected{% endif %}>Plato</option>
                    </select>
                </div>

                <!-- Selector de orden ascendente/descendente -->
                <div class="col-md-2">
                    <select class="form-select form-select-sm" name="order" onchange="this.form.submit()">
                        <option value="asc" {% if current_order == 'asc' %}selected{% endif %}>Ascendente</option>
                        <option value="desc" {% if current_order == 'desc' %}selected{% endif %}>Descendente</option>
                    </select>
                </div>

                <!-- Campo de búsqueda -->
                <div class="col-md-5">
                    <input type="text" class="form-control form-control-sm" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                </div>

                <!-- Botón buscar -->
                <div class="col-md-1">
                    <button type="submit" class="btn btn-inverse-secondary" style="padding-top: 12px; padding-bottom:12px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
            <div class="table-wrapper">
                <table class="table table-hover tabla-responsive align-middle" style="table-layout: auto; width: 100%;">
                    <thead class="table-dark">
                        <tr>
                            <th style="width: 10%;">Fecha</th>
                            <th style="width: 20%;">Lote</th>
                            <th style="width: 25%;">Plato</th>
                            <th style="width: 10%;">Turno</th>
                            <th style="width: 15%;">Cantidad Total (Kg)</th>
                            <th style="width: 15%;">Raciones</th>
                            <th style="width: 15%;">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if lotes_agrupados %}
                            {% for lote in lotes_agrupados %}
                                <tr>
                                    <td>{{ lote.fecha }}</td>
                                    <td><strong>{{ lote.lote }}</strong></td>
                                    <td title="{{ lote.plato }}">
                                        {{ lote.plato|truncatewords:5 }}
                                    </td>

                                    <td>{{ lote.turno }}</td>
                                    <td>
                                        <span class="badge bg-success">{{ lote.cantidad_total|floatformat:2 }} Kg</span>
                                    </td>
                                    <td>
                                        <span class="badge bg-info text-dark">{{ lote.num_platos }} Raciones</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-inverse-success" style="--bs-btn-padding-y: 14px; --bs-btn-padding-x: 14px;" onclick="abrir_modal_edicion('{% url 'platos:lote_detalle' lote=lote.lote %}')" data-toggle="tooltip" title="Ver">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6" >
                                    ⚠️ No hay lotes históricos registrados.
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                <!-- Paginación -->
                {% include "core/pagination.html" %}
            </div>
        </div>
        <div class="modal fade" id="consulta" role="dialog">
    </div>
</div>

<style>
    /* Ajustes de tabla */
    .table th, .table td {
        vertical-align: middle;
    }

    .table-wrapper {
        overflow-x: auto;
    }
</style>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    var $ = jQuery.noConflict();
    function abrir_modal_edicion(url){
        $('#consulta').load(url, function(){
            $(this).modal('show');
        });
    }
</script>
{% endblock extrajs %}

