asgiref==3.9.1
Brotli==1.1.0
cffi==2.0.0
colorama==0.4.6
cssselect2==0.8.0
Django==5.2.6
fonttools==4.60.0
gunicorn==23.0.0
packaging==25.0
pillow==11.3.0
pycparser==2.23
pydyf==0.11.0
PyPDF2==3.0.1
pyphen==0.17.2
qrcode==8.2
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2025.2
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
