<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
        <div class="modal-header bg-primary">
            <h2 class="modal-title">Crear Usuario</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form method='POST' action="{% url "super:crear_usuario" %}"  enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-6">
                                <label for="centro" class="form-label">Centro</label>
                                <select class="form-select form-control-border" name="centro" id="centro" required>
                                    <option value="" disabled selected>Seleccione un centro</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Usuario</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password1">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Repetir Password</label>
                                <input type="password" class="form-control" name="password2">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre">
                            </div>
                            <div class="col-8">
                                <label class="form-label">Apellidos</label>
                                <input type="text" class="form-control" name="apellidos">
                            </div>
                            <div class="col-4">
                                <label class="form-label">Cargo</label>
                                <input type="text" class="form-control" name="cargo">
                            </div>
                            <div class="col-6">
                                <label class="form-label">Imagen</label>
                                <input type="file" name="imagen" class="form-control file-upload-info">
                            </div>
                            <div class="col-12">
                                <div style="margin-bottom: 30px" class="form-check form-check-success col-2">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="estado"> Estado <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info">Crear</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // Agrega un evento de clic a los botones de cerrar y cancelar
    $('.modal .close, .modal .btn-danger').click(function() {
        // Oculta el modal
        $('.modal').modal('hide');
        // Elimina el fondo oscuro
        $('.modal-backdrop').remove();
    });
</script>