{% load static %}
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cheftag</title>

  <!-- Favicons -->
  <link href={% static "img/favicon.png" %} rel="icon">
  <link href={% static "img/apple-touch-icon.png" %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
   
  <link href={% static "vendor/feather/feather.css" %} rel="stylesheet">
  <link href={% static "vendor/mdi/css/materialdesignicons.min.css" %} rel="stylesheet">
  <link href={% static "vendor/ti-icons/css/themify-icons.css" %} rel="stylesheet">
  <link href={% static "vendor/font-awesome/css/font-awesome.min.css" %} rel="stylesheet">
  <link href={% static "vendor/typicons/typicons.css" %} rel="stylesheet">
  <link href={% static "vendor/simple-line-icons/css/simple-line-icons.css" %} rel="stylesheet">
  <link href={% static "vendor/css/vendor.bundle.base.css" %} rel="stylesheet">
  <link href={% static "vendor/bootstrap-datepicker/bootstrap-datepicker.min.css" %} rel="stylesheet">
  <!-- Plugin css for this page -->
  <link href={% static "vendor/datatables.net-bs4/dataTables.bootstrap4.css" %}>
  <link href={% static "js/select.dataTables.min.css" %} rel="stylesheet" type="text/css" >
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href={% static "css/style.css" %}>

  {% block head %}

  {% endblock head %}
</head>
  <body class="with-welcome-text">
    <div class="container-scroller">
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <a class="navbar-brand brand-logo" href="{% url 'dashuser:Dashboard' %}">
              <img src="{{ imagen_centro_url }}" style="width:150px !important; height:auto;" alt="{{ centro.nombre }}">
            </a>
            <a class="navbar-brand brand-logo-mini" href="{% url 'dashuser:Dashboard' %}">
              <img src="{{ imagen_centro_url }}" style="width:120px !important; height:auto;" alt="{{ centro.nombre }}">
            </a>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">{{ saludo }}, <span class="text-black fw-bold">{{ nombre }} {{ apellidos }}</span></h1>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item d-none d-lg-block">
              <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                <span class="input-group-addon input-group-prepend border-right">
                  <span class="icon-calendar input-group-text calendar-icon"></span>
                </span>
                <input type="text" class="form-control">
              </div>
            </li>
            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
              <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="{{ imagen_user_url }}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  <p class="mb-1 mt-3 fw-semibold">{{ nombre }} {{ apellidos }}</p>
                  <p class="fw-light text-muted mb-0">{{ cargo }}</p>
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Perfil </a>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Mensajes</a>
                <a class="dropdown-item" href="{% url 'login:logout' %}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Salir</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          {% if permisos.Proveedor.read or permisos.Alimento.read or permisos.Plato.read or permisos.EtiquetaPlato.read %}
            <li class="nav-item nav-category">PRODUCCIÓN</li>
              {% if permisos.Alimento.read %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashuser:AlimentoList' %}">
                  <i class="menu-icon mdi mdi-food-apple"></i>
                  <span class="menu-title">Alimentos</span>
                </a>
              </li>
              {% endif %}
              {% if permisos.Utensilio.read %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashuser:UtensilioList' %}">
                  <i class="menu-icon mdi mdi-food-takeout-box"></i>
                  <span class="menu-title">Utensilios</span>
                </a>
              </li>
              {% endif %}

              {% if permisos.Plato.read %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'platos:PlatoList' %}">
                  <i class="menu-icon mdi mdi-food-variant"></i>
                  <span class="menu-title">Platos</span>
                </a>
              </li>
              {% endif %}  
              {% if permisos.Pedido.read or permisos.Proveedor.read %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#comp" aria-expanded="false" aria-controls="comp">
                  <i class="menu-icon mdi mdi-cart"></i>
                  <span class="menu-title">Compras</span>
                 <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="comp">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:ProveedorList' %}">Proveedores</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'pedidos:listado_pedidos' %}">Pedidos</a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
              {% if permisos.EtiquetaPlato.read or permisos.EtiquetaPlato.read %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#rec" aria-expanded="false" aria-controls="rec">
                  <i class="menu-icon mdi mdi-dolly"></i>
                  <span class="menu-title">Recepción</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="rec">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:RecepcionManualList' %}">Manual</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Scaner</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Pedidos</a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
              {% if permisos.EtiquetaPlato.read or permisos.EtiquetaPlato.read %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#etiq" aria-expanded="false" aria-controls="etiq">
                  <i class="menu-icon mdi mdi-tag-text-outline"></i>
                  <span class="menu-title">Etiquetado</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="etiq">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:crear_etiqueta' %}">Alimentos</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'platos:generar_etiqueta' %}">Platos</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'platos:LotesResumenListView' %}">Lotes Etiquetas </a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
              {% if permisos.Recepcion.read or permisos.Merma.read %}
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#sto" aria-expanded="false" aria-controls="sto">
                  <i class="menu-icon mdi mdi-elevation-rise"></i>
                  <span class="menu-title">Stocks</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="sto">
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:AuditoriaList' %}">Movimientos</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:MermasList' %}">Mermas</a></li>
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:AjusteInventarioList' %}">Ajustes</a></li>
                  </ul>
                </div>
              </li>
              {% endif %}
            </li>
          {% endif %} 
          {% if permisos.UserProfile.read or permisos.RegistroAccion.read %}
            <li class="nav-item nav-category">CONTROL</li>
              {% if permisos.UserProfile.read %}  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:UsersListView' %}">
                  <i class="menu-icon mdi mdi-account-multiple"></i>
                  <span class="menu-title"> Usuarios</span>
                </a>
              </li>
              {% endif %}
              {% if permisos.RegistroAccion.read %}  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:registro_accion_list' %}">
                  <i class="menu-icon mdi mdi-math-log"></i>
                  <span class="menu-title"> Registros</span>
                </a>
              </li>
              {% endif %}
            </li>
          {% endif %}  
          {% if permisos.Alergenos.read or permisos.Trazas.read or permisos.Localizacion.read or permisos.Conservacion.read or permisos.TipoAlimento.read or permisos.UnidadDeMedida.read or permisos.TipoPlato.read or permisos.TextoModo.read or permisos.TipoMerma.read %}
            <li class="nav-item nav-category">CONFIGURACIÓN</li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="collapse" href="#confi" aria-expanded="false" aria-controls="confi">
                  <i class="menu-icon mdi mdi-tools"></i>
                  <span class="menu-title">Opciones</span>
                  <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="confi">
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.Alergenos.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:AlergenosList' %}">Alérgenos</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.Trazas.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:TrazasList' %}">Trazas de alérgenos</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.Localizacion.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:LocalizacionList' %}">Ubicaciones</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.Conservacion.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:ConservacionList' %}">Conservación</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.TipoAlimento.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:TipoAlimentoList' %}">Tipos de Alimento</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.UnidadDeMedida.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'dashuser:UnidadDeMedidaList' %}">Unidad de Medida</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.TipoPlato.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'platos:TipoPlatoList' %}">Tipos de Plato</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.TextoModo.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'platos:TextoModoList' %}">Modos de uso</a></li>
                    {% endif %}
                  </ul>
                  <ul class="nav flex-column sub-menu">
                    {% if permisos.TipoMerma.read %}
                    <li class="nav-item"> <a class="nav-link" href="{% url 'recepcion:TipoDeMermaList' %}">Tipos de mermas</a></li>
                    {% endif %}
                  </ul>
                </div>
              </li>
            </li>
          {% endif %}
        </ul>
      </nav>
      <div class="main-panel">
          {% if messages %}
            <div class="container mt-3">
              {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          {% block content %}

          {% endblock content %}
      </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src={% static "vendor/js/vendor.bundle.base.js" %}></script>
  <script src={% static "vendor/bootstrap-datepicker/bootstrap-datepicker.min.js" %}></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src={% static "vendor/chart.js/chart.umd.js" %}></script>
  <script src={% static "vendor/progressbar.js/progressbar.min.js" %}></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src={% static "js/off-canvas.js" %}></script>
  <script src={% static "js/template.js" %}></script>
  <script src={% static "js/settings.js" %}></script>
  <script src={% static "js/hoverable-collapse.js" %}></script>
  <script src={% static "js/todolist.js" %}></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src={% static "js/jquery.cookie.js" type="text/javascript" %}></script>
  <script src={% static "js/dashboard.js" %}></script>
  <!-- <script src={% static "js/Chart.roundedBarCharts.js" %}></script> -->
  <!-- End custom js for this page-->
  {% block extrajs %}

  {% endblock extrajs %}
</body>
</html>